html{
	scroll-behavior: smooth;
}

body{
	width: 100%;
	margin: 0;
	padding: 0;
	/*padding-top: 50px;*/
}

/*Ocupar el 100& del ancho de pantalla*/
.body-ancho{
	width: 100%;
	left: 0;
	top: 0;
}

/*Ocupar el 85%% del ancho de 
pantalla y margins 0*/
.body-ancho-85{
	width: 85%;
	margin: 0 auto;
}

/*Color de fondo, y widht al 
ancho de la pantalla*/
.body-color-ancho{
	background: #212121; 
	width: 100%;
	left: 0;
	top: 0;
}

.body-color-ancho2{
	background: #212121; 
	width: 100%;
	left: 0;
	top: 0;
}

/*70px a la izq y der del texto
respecto al div que lo contiene
div-70px-TEXTO-70px-div*/
.centrar-padding{
	padding-left: 70px;
	padding-right:70px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.col-centered{
    margin: 0 auto;
}

/*Cursor de enlace*/
.cursor-pointer{
	cursor: pointer;
}

/*Misma altura que .header-fijo,
para que el body no sea tapado
por el header fijo*/
.espacio-arriba-cabezera{
	padding-top: 120px;
}

/*Espacio entre divs 50px*/
.espacio-arriba-grande{
	margin-top: 50px;
}

/*espacio entre divs 30px*/
.espacio-arriba-mediano{
	margin-top: 30px;
}

/*espacio entre divs 10px*/
.espacio-arriba-pequeño{
	margin-top: 10px;
}

/*espacio entre divs 30 px*/
.espacio-abajo-mediano{
	margin-bottom: 30px;
}

/*Quitar espacio con el div que
este arriba*/
.espacio-arriba-nulo{
	margin-top: 0px;
}

/*Espacio entre el header y body
y entre el body y footer, 40px*/
.espacio-body-arriba-abajo{
	padding-top: 40px;
	padding-bottom: 80px;
}

/*Paddong y margin nulo*/
.espacio-marpad-nulo{
	margin: 0;
	padding: 0;
}

/*Separacion lateral entre los iconos del footer*/
.espacio-iconos-footer div a{
	margin: 0 10px;
}

/*Display flex(uno a lado del
otro) y al centro*/
.flex-center{
	display: flex;
	justify-content: center;
}

/*NEGRITAS*/
.font-bold{
	font-weight: bold;
}

/*Fuente VENTURA PUBLICIDAD*/
@font-face {
    font-family: 'ventilate_aoeregular';
    src: url('../fonts/venta___-webfont.woff2') format('woff2'),
         url('../fonts/venta___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Font VENTILATE - Ventura*/
.font-ventura, h3{
	font-family: 'ventilate_aoeregular';
	/*color:#0A122A;*/
	color: #b2b2b2;
}

/*Tamaño de fuente para
el header VENTURAPUBLICIDAD*/
.font-ventura-header{
	font-family: 'ventilate_aoeregular';
	font-size: 50px;
	color: #757575;
}

/*Titulos de una seccion*/
.font-ventura-titulo, h3{
	font-family: 'ventilate_aoeregular';
	font-size: 35px;
	color: #b2b2b2;
}

/*Subtitulos de una seccion 
p.e. telefonos y direccion
en la seccion de contacto*/
.font-ventura-subtitulo, h4{
	font-family: 'ventilate_aoeregular';
	font-size: 28px;
	color: #b2b2b2;
}

/*Font para los parrafos, azul*/
.font-parrafo, p{
	font-family: 'Raleway', sans-serif;
	color:#757575;
	font-size: 20px;
}

/*font derechos reservados gris*/
.font-footer-derechos{
	font-family: 'Raleway', sans-serif;
	color:#fafafa;
}

/*Tamaño de fuente para
el header IMPRESIONPUBLICITARIA*/
.font-impresion-header{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color:#757575;
}

/*Juntar el texto al input y
alinear texto a la izquierda*/
.espacio-textos-formulario p{
	margin-bottom: 0px;
	margin-top: 10px;
	text-align: left;
	color: #fafafa;
}

/*Color azul del footer*/
.footer-color{
	background-color: #1c1c1c;
	padding-top: 20px;
}

/*Cabezara fija, header y navbar*/
.header-fijo{
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
	height: 120px;
	background: #151515;
	box-shadow: 3px 1px 2px #1c1c1c;
	z-index:1000;
}

/*HOVER a los elementos seleccionados*/
.hover:hover{
	background: #2e2e2e;
	border-radius: 15px;
}

/*Logo FB footer*/
.img-fb{
	max-height: 40px;
	max-width: 40px;
}

/*tamaño del logo WA en header*/
.img-wa{
	max-height: 30px;
	max-width: 30px;
}

/*Tamaño de imagenes para las
secciones Productos y Servicios*/
.img-prodserv img{
	max-width: 180px;
	max-height: 180px; 
}

.img-distribuciones img{
	max-height: 180px;
	max-width: 180px;
}

/*Elementos en linea*/
.inline-block{
	float: none;
	display: inline-block;
	/*margin-right: -4px;*/
}

/*FORM boton Enviar*/
input[type=submit], input[type=button] {
  width: 20%;
  background-color: #757575;
  color: #fafafa;
  padding: 8px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/*FORM boton Limpiar*/
input[type=reset] {
  width: 20%;
  background-color: #757575;
  color: #fafafa;
  padding: 8px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/*FORM boton Enviar hover*/
input[type=submit]:hover {
  background-color: #45a049;
}

/*FORM boton Limpiar hover*/
input[type=reset]:hover {
  background-color: #d8d8d8;
  color:#1c1c1c;
}

/*FORM fprmato cuadro de texto*/
input[type=text], input[type=email]{
  width: 100%;
  padding: 4px 7px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #1c1c1c;
  color: #b2b2b2;
}

/*Color del navbar y bordes para 
hacerlo un poco mas gruesa*/
.navbar-color{
	background-color: #1c1c1c;
	border-top: 3px solid #1c1c1c;
	border-bottom: 3px solid #1c1c1c;
}

/*Bordes del newsletter*/
.newsletter-border{
	border-top: 0.5px solid #b2b2b2;
	border-bottom: 0.5px solid #b2b2b2;
}

/*Quitar los puntitos a los item*/
.quitar-viñetas{
	list-style-type: none;
}

/*Formato link, letra blanca
sin subrayar, 15px*/
.quitar-formato-link a{
	color:#fafafa;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}

/*links azules "ver mas..."*/
.quitar-formato-link-azul a{
	color:#b2b2b2;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: right;
}

/*Color azul claro
al posicionarse sobre los links
del navbar*/
.quitar-formato-link a:hover{
	color:#b2b2b2;
	text-decoration: none;
}

/*GALERIAS DINAMICAS PROD Y SERV*/
.galeria {
  height: calc( 180px + 1em);
  width: 180px;
  position: relative;  
}

.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s;
}

.galeria input[type=radio] {
  position: relative;
  bottom: calc(-180px);
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}

/*ventana emergente newsletter*/
#emergente{
	position: relative; 
	background: #1c1c1c; 
	color: #b2b2b2; 
	max-width: 35%; 
	max-height: auto;  
	margin: 20% auto;
	border-radius: 10px;
}

#modal{
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  pointer-events:block;
  transition: all 1s;
  display: none;
}

.modal-header{
	background-color: #151515;
	max-height: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.modal-content{
	padding-bottom: 1%;
	padding-top: 3%;
	background-color: #1c1c1c;
}

/* Boton cerrar X*/
.boton-cerrar{
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.boton-cerrar:hover{
  color: #f2f2f2;
  text-decoration: none;
  cursor: pointer;
}

/*BANNER DE IMAGENES INICIO*/
.banner {
  height: calc( 400px + 1em);
  width: 700px;
  position: relative;  
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s;
}

.banner input[type=radio] {
  position: relative;
  bottom: calc(-400px);
}

.banner input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.banner input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.banner input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.banner input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}

.retraso-1{
	-webkit-animation-delay: 1;
	animation-delay: 1s;
}

.retraso-2{
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

/*ZOOMHOVER*/
.zoom img{
    /* Aumentamos el ancho y la altura durante 1 segundo */
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s,-o-transform 1s;    
}
.zoom img:hover{
    /* tranformamos  su tamaño al pasar el mouse por encima con scale(2.5). */
    transform : scale(1.1);
    -moz-transform : scale(1.1);      /* Firefox */
    -webkit-transform : scale(1.1);   /* Chrome - Safari */
    -o-transform : scale(1.1);        /* Opera */
}