﻿@model EXAMEN3_CRUD_ESTUDIANTE.Models.Estudiante

@{
    ViewData["Title"] = "Create";
}

<h1>Añadir estudiante</h1>

<h4>Estudiante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombreestudiante" class="control-label"></label>
                <input asp-for="Nombreestudiante" class="form-control" />
                <span asp-validation-for="Nombreestudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidoestudiante" class="control-label"></label>
                <input asp-for="Apellidoestudiante" class="form-control" />
                <span asp-validation-for="Apellidoestudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edadestudiante" class="control-label"></label>
                <input asp-for="Edadestudiante" class="form-control" />
                <span asp-validation-for="Edadestudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correoestudiante" class="control-label"></label>
                <input asp-for="Correoestudiante" class="form-control" />
                <span asp-validation-for="Correoestudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la pagina principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
