﻿@model EXAMEN3_CRUD_ESTUDIANTE.Models.Estudiante

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar estudiante</h1>

<h3>Neta si lo vas a borrar?</h3>
<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estudianteid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estudianteid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombreestudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombreestudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidoestudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidoestudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edadestudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edadestudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correoestudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correoestudiante)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Pagina principal</a>
    </form>
</div>
