﻿@model EXAMEN3_CRUD_ESTUDIANTE.Models.Estudiante

@{
    ViewData["Title"] = "Detail";
}

<h1>Detalle del estudiante</h1>

<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estudianteid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estudianteid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombreestudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombreestudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidoestudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidoestudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edadestudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edadestudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correoestudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correoestudiante)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Estudianteid }) |
    <a asp-action="Index">Regresar a la lista</a>
</div>
