﻿@model IEnumerable<EXAMEN3_CRUD_ESTUDIANTE.Models.Estudiante>

@{
    ViewData["Title"] = "Index";
}

<h1>Pagina principal</h1>

<p>
    <a asp-action="Create">Añadir estudiante</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estudianteid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombreestudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidoestudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edadestudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correoestudiante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estudianteid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombreestudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidoestudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edadestudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correoestudiante)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Estudianteid }) |
                @Html.ActionLink("Detail", "Detail", new { id = item.Estudianteid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Estudianteid })
            </td>
        </tr>
}
    </tbody>
</table>
